<!DOCTYPE html>
<html lang="en">
<head>
   
  <meta charset="UTF-8">

  <title>Login Page</title>

  <link rel="stylesheet" href="/style.css">
</head>

<body>
    
    <div class = "wrapper">
        <div class = "form-wrapper">
            <h2>admin</h2>
            
            
            
            <form action="/admin" method="post">
                <div class = "enter">
                    <input type="text" required name="username">
                    <label for ="" > Admin name  </label>
                </div>
                <div class ="enter">
                    <input type="password" name = "password"required>
                    <label for =""> Admin password </label>
                </div>
                <div class = "sumbit"> 
                    <button>Login</button>
                </div>
            </form>

            <div class = "signup_login">
                <p> return to login page <a href="/login" class ="loginbutton link"> Login</a></p>
                
            </div>
        </div>
    </div>
</body>
</html>


