<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Personal information</title>
  <link rel="stylesheet" href="/payment.css">
</head>

<body>
    <div class = "wrapper">
        <div class = "form-wrapper">
            
            
            
            <form action="/payment" method="post">
                <h2>Thank you for purchasing in our store </h2>
                <div class = "enter">
                    <label>
                        For any questions or queries, please contact us:<br>
                        📞 123-456-7890<br>
                        📧 abcdrfg@gmail.com
                      </label>
                    
                </div>
                
            </form>

            
        </div>
    </div>






</body>