<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Personal information</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="wrapper">
    <div class="form-wrapper">
      <h2>Personal Information</h2>
      <form action="/personal" method="post">
        <div class = "enter">
            <input type="text" name="email_address" required>
            <label for ="" > Email address </label>
        </div>
        <div class ="enter">
            <input type="text"  name="phone_number"required>
            <label for =""> Phone number </label>
        </div>
        <div class ="enter">
            <input type="text" name="license_number" required>
            <label for =""> License Number </label>
        </div>
        <div class = "remember">
            <label for= ""><input type ="checkbox">I give consent for this webpage to collect my data</label>
        </div>
        <div class = "sumbit"> 
            <button>Sumbit</button>
        </div>
    </form>
    


     
    </div>
  </div>
</body>
</html>